* {
    color: blue;
}

body {
  background-color: #cccc99;
  background-image: url("background.jpg")
}

p {
  /*font-size: x-large;*/
  /*font-size: 28px;*/
  /*1.5 times bigger than the default size*/
  font-size: 1.5em;

  border-style: solid;
  border-color: black;

  /*border-width: thick;*/
  /*border-width: 12px;*/
  border-width: 2mm;

  /*width: 200px;*/
  width: 50%;
}

div {
  width: 50%;
}
